<h1 class="center-align">Burgers</h1>

<div class="container">
  <div class="row">
    <div class="col l6 m12">
      <h2>Lets Eat!</h2>

      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=false}} 
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col l6 m12">
      <h2>Already eaten..</h2>

      <ul>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-eaten devoured=true}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
 </div>

  <div class="row center-align">
    <div class="col l6">
      <h2>Add a burger</h2>
      <form class="create-form">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
        </div>

        <button type="submit">Add a Burger</button>
      </form>
    </div>
  </div> 
  
</div>